<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>관리자 페이지 - e-book 관리</title>
</head>

<body>
<!-- 네비게이션 바 -->
<nav>
    <div class="nav-div">
        <div>
            <a href="#">
                <img src="/images/shelf_logo.png" alt="Shelf_logo" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- 메인 시작-->
<main>
    <div class="main-div">
        <!-- 사이드바 -->
        {{> /_components/sidebar}}

        <div class="main-section">
            <div class="main-right-margin">
                <div class="title">e-book 관리</div>
                <div class="book-header">
                    <div class="book-count">
                        <span class="gray mr-10">책 목록 :</span>{{books.count}}
                    </div>
                    <div>
                        <a class="add-book-btn" href="/admin/add-book">책 등록</a>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>제목</th>
                        <th>저자</th>
                        <th>출판사</th>
                        <th>등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 프론트 더미 시작 -->
                    <!-- #items}}
                        <tr>
                            <td>index}}</td>
                            <td>bookname}}</td>
                            <td>author}}</td>
                            <td>publisher}}</td>
                            <td>createdAt}}</td>
                        </tr>
                    /items}} -->
                    {{#books.bookDTOList}}
                        <tr class="book-item">
                            <td>{{no}}</td>
                            <td id="item-link">
                                <a href="/admin/book/{{bookId}}">
                                    <div>
                                        <div class="book-img">
                                            <img src="{{path}}" alt="책 표지 No.{{no}}">
                                        </div>
                                        <p>{{title}}</p>
                                    </div>
                                </a>
                            </td>
                            <td>{{author}}</td>
                            <td>{{publisher}}</td>
                            <td id="created-td">{{registrationDate}}</td>
                        </tr>
                    {{/books.bookDTOList}}

                    <!-- 프론트 더미 끝-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- 메인 종료 -->
<hr/>
<!-- 푸터 -->
{{> /_components/footer}}
</body>

</html>