<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <title>관리자 페이지 - 책 등록/수정 </title>
</head>

<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <a href="#">
                <img src="/images/shelf_logo.png" alt="Shelf_logo" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- main start -->
<main>
    <div class="main-div">
        <!-- 사이드바 -->
        {{> _components/sidebar}}

        <div class="main-section">
            <div class="main-header mb-20">책 상세보기</div>

            <!-- SHELF -->
            <div class="form-section">
                <div class="box-deco"></div>

                <div class="form-field-header">
                    <!-- 책 표지 사진 -->
                    <div class="form-field-header-left">
                        <div class="image-preview">
                            <img id="preview-img" src="{{book.bookPath}}" alt="미리보기 이미지" />
                            <!-- TODO : 기본 이미지 넣기 -->
                        </div>
                        <input id="image-upload" type="file" name="mainPhoto" />
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const imageUpload = document.getElementById('image-upload');
                            const previewImg = document.getElementById('preview-img');
                            // 체인지 이벤트 발생.
                            imageUpload.addEventListener('change', function (e) {
                                const file = e.target.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    // 미리보기 사진 보이기
                                    reader.onload = function (e) {
                                        previewImg.src = e.target.result;
                                        previewImg.style.display = "block";
                                    }
                                    reader.readAsDataURL(file);
                                }
                            });
                        });
                    </script>
                    <div class="form-field-header-right">
                        <div class="form-field mb-20">
                            <label for="title">제목</label>
                            <div class="input-data">{{book.bookTitle}}</div>
                        </div>
                        <div class="form-field mb-20">
                            <label for="author">저자</label>
                            <div class="input-data">{{book.author}}</div>
                        </div>
                        <div class="form-field mb-20">
                            <label for="publisher">출판사</label>
                            <div class="input-data">{{book.publisher}}</div>
                        </div>
                        <!-- <div class="form-field mb-20">
                            <label for="category">카테고리</label>
                            <input type="text" id="category" name="category">
                        </div> -->
                        <div class="form-field mb-20">
                            <label for="category">카테고리</label>
                            <div class="input-data">{{book.category}}</div>
                        </div>
                    </div>
                </div>
                <!-- width 100% 입력 창 -->
                <div class="form-field mb-20">
                    <label for="comment">코멘트</label>
                    <div class="input-data" style="height: 5rem;">{{book.contentIntro}}</div>
                </div>
                <div class="form-field mb-20">
                    <label for="introduction">책 소개</label>
                    <div class="input-data" style="height: 7rem;">{{book.bookIntro}}</div>
                </div>
                <!-- 파일 선택 -->
                <div class="small-title">epub파일</div>
                <div class="form-field mb-20">
                    <div class="file-upload-container">
                        <!-- <label for="ebook-file" class="custom-file-upload">파일 선택</label> -->
                        <input type="file" id="ebook-file" name="ebook-file" src="{{book.epubFile}}" />
                        <span id="file-name-display">{{book.epubFile}}</span>
                    </div>
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const fileUpload = document.getElementById('ebook-file');
                        const fileNameDisplay = document.getElementById('file-name-display');

                        fileUpload.addEventListener('change', function (e) {
                            const file = e.target.files[0];
                            if (file) {
                                fileNameDisplay.textContent = file.name;
                            } else {
                                fileNameDisplay.textContent = "선택된 파일 없음";
                            }
                        });
                    });
                </script>
                <div class="bottom-btns">
                    <form method="get" action="/admin/book-update-form/{{bookId}}">
                    <button class="custom-upload-button" >수정하기</button>
                    </form>
                    <form method="get" action="/admin/books">
                    <button id="back-btn">돌아가기</button>
                    </form>
                    <form method="post" action="/admin/book-delete/{{bookId}}">
                    <button class="custom-delete-button" >삭제하기</button>
                    </form>
                </div>
            </div>

            </form>
        </div>
    </div>
</main>
<!-- 메인 종료 -->
<hr/>
<!-- 푸터  -->
{{> /_components/footer}}

<!-- 자바 스크립트 -->
<script src="/static/js/admin-upload.js"></script>

</body>

</html>