<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- axios 추가 -->
    <title>관리자 페이지 - 책 등록/수정 </title>
</head>

<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <a href="/api/main-page">
                <img src="/image/shelf_logo.png" alt="오류" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- main start -->
<main>
    <div class="main-div">
        <!-- 사이드바 -->
        {{> _components/sidebar}}

        <div class="main-section">
            <div class="main-header mb-20">e-book 수정</div>

            <form id="ebook-form" method="post" enctype="multipart/form-data" action="/admin/book-update/{{bookId}}">
                <!-- SHELF -->
                <div class="form-section">
                    <div class="box-deco"></div>

                    <div class="form-field-header">
                        <!-- 책 표지 사진 -->
                        <div class="form-field-header-left">
                            <div class="image-preview">
                                <img id="preview-img" src="{{book.bookPath}}" alt="미리보기 이미지"/>
                            </div>
<!--                            <label for="image-upload" class="custom-file-upload">책 표지 업로드</label>-->
<!--                            <input id="image-upload" type="file" name="path" accept=".jpg,.jpeg,.png,.gif"/>-->
                        </div>
                        <script>
                            // document.addEventListener('DOMContentLoaded', function () {
                            //     const imageUpload = document.getElementById('image-upload');
                            //     const previewImg = document.getElementById('preview-img');
                            //     // 체인지 이벤트 발생.
                            //     imageUpload.addEventListener('change', function (e) {
                            //         const file = e.target.files[0];
                            //         if (file) {
                            //             const reader = new FileReader();
                            //             // 미리보기 사진 보이기
                            //             reader.onload = function (e) {
                            //                 previewImg.src = e.target.result;
                            //                 previewImg.style.display = "block";
                            //             }
                            //             reader.readAsDataURL(file);
                            //         }
                            //     });
                            // });
                        </script>
                        <div class="form-field-header-right">
                            <div class="form-field mb-20">
                                <label for="title">제목</label>
                                <input type="text" id="title" name="bookTitle" value="{{book.bookTitle}}">
                            </div>
                            <div class="form-field mb-20">
                                <label for="author">저자</label>
                                <input type="text" id="author" name="author" value="{{book.author}}">
                            </div>
                            <div class="form-field mb-20">
                                <label for="publisher">출판사</label>
                                <input type="text" id="publisher" name="publisher" value="{{book.author}}">
                            </div>
                            <div class="form-field mb-20">
                                <label for="category">카테고리</label>
                                <select name="category" id="category">
                                    <option value="{{book.category}}" selected>{{book.category}}</option>
                                    <option value="자기계발">자기계발</option>
                                    <option value="역사">역사</option>
                                    <option value="소설">소설</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- width 100% 입력 창 -->
                    <div class="form-field mb-20">
                        <label for="bookIntro">책 소개</label>
                        <textarea type="text" id="bookIntro" name="bookIntro" rows="3">{{book.bookIntro}}</textarea>
                    </div>
                    <div class="form-field mb-20">
                        <label for="contentIntro">내용 소개</label>
                        <textarea type="text" id="contentIntro" name="contentIntro" rows="5">{{book.contentIntro}}</textarea>
                    </div>
                    <div class="form-field mb-20">
                        <label for="authorIntro">작가 소개</label>
                        <textarea type="text" id="authorIntro" name="authorIntro" rows="5">{{book.authorIntro}}</textarea>
                    </div>
                    <div class="form-field mb-20">
                        <label for="pageCount">총 페이지 수</label>
                        <input type="text" id="pageCount" name="pageCount" value="{{book.pageCount}}">
                    </div>
                    <div class="bottom-btns">
                        <button id="upload-info-btn" type="submit" class="custom-upload-button">ebook 수정</button>
                        <button id="back-btn">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- 메인 종료 -->
<hr/>
<!-- 푸터  -->
{{> /_components/footer}}

<!-- 자바 스크립트 -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('ebook-form');

        form.addEventListener('submit', function (e) {

            const formData = new FormData(form);

            // 필드 유효성 검사
            const title = formData.get('title').trim();
            const author = formData.get('author').trim();
            const publisher = formData.get('publisher').trim();
            const category = formData.get('category').trim();
            const bookIntro = formData.get('bookIntro').trim();
            const contentIntro = formData.get('contentIntro').trim();
            const authorIntro = formData.get('authorIntro').trim();
            const pageCount = formData.get('pageCount').trim();
            // const path = form.querySelector('input[name="path"]').files[0];

            if (!title) {
                alert('제목을 입력하세요.');
                return;
            }
            if (!author) {
                alert('저자를 입력하세요.');
                return;
            }
            if (!publisher) {
                alert('출판사를 입력하세요.');
                return;
            }
            if (!category) {
                alert('카테고리를 선택하세요.');
                return;
            }
            if (!bookIntro) {
                alert('책 소개를 입력하세요.');
                return;
            }
            if (!contentIntro) {
                alert('내용 소개를 입력하세요.');
                return;
            }
            if (!authorIntro) {
                alert('작가 소개를 입력하세요.');
                return;
            }
            if (!pageCount) {
                alert('총 페이지 수를 입력하세요.');
                return;
            }
            if (isNaN(pageCount)) {
                alert('총 페이지 수는 숫자만 입력할 수 있습니다.');
                return;
            }
            // if (!path || !/\.(jpg|jpeg|png|gif)$/i.test(path.name)) {
            //     alert('책 표지 이미지를 업로드하세요. (jpg, jpeg, png, gif)');
            //     return;
            // }
        });
    });
</script>

</body>

</html>
