<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>관리자 페이지 - e-book 관리</title>
</head>

<body>
<!-- 네비게이션 바 -->
<nav>
    <div class="nav-div">
        <div>
            <a href="/api/main-page">
                <img src="/images/shelf_logo.png" alt="Shelf_logo" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- 메인 시작-->
<main>
    <div class="main-div">
        <!-- 사이드바 -->
        {{> /_components/sidebar}}

        <div class="main-section">
            <div class="main-right-margin">
                <div class="title">e-book 관리</div>
                <div class="member-container">
                    <div class="member">
                        <div class="member-count">
                            <!-- <span class="gray mr-10">책 목록 :</span>items.size}} -->
                            <span class="gray mr-10">책 목록 :</span>5
                        </div>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>제목</th>
                        <th>저자</th>
                        <th>출판사</th>
                        <th>등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 프론트 더미 시작 -->
                    <!-- #items}}
                        <tr>
                            <td>index}}</td>
                            <td>bookname}}</td>
                            <td>author}}</td>
                            <td>publisher}}</td>
                            <td>createdAt}}</td>
                        </tr>
                    /items}} -->
                    <tr>
                        <td>5</td>
                        <td>무엇인지 무엇이었는지 무엇일 수 있는지</td>
                        <td>최유수</td>
                        <td>도어스프레스</td>
                        <td>2024.07.08</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>영원에 무늬가 있다면</td>
                        <td>최유수</td>
                        <td>도어스프레스</td>
                        <td>2024.07.08</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>너는 불투명한 문</td>
                        <td>최유수</td>
                        <td>별빛들</td>
                        <td>2024.07.08</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>끝내주는 인생</td>
                        <td>이슬아</td>
                        <td>디플롯</td>
                        <td>2024.07.08</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>이토록 안타까운 나에게</td>
                        <td>손현녕</td>
                        <td>테라포트</td>
                        <td>2024.07.08</td>
                    </tr>
                    <!-- 프론트 더미 끝-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- 메인 종료 -->
<!-- 푸터 시작 -->
<footer>
    <div>
        <p>셀프 shelf 유한회사 통신판매업신고번호:
            제2023-부산진구-0703호 전화번호: 000-111-2222 (수신자 부담)</p>
        <p>대표: 스티븐 성훈 킴</p>
        <p>이메일 주소: korea@shelf.com</p>
        <p>주소: 대한민국 부산광역시 부산진구 중앙대로 749 범향빌딩 3층
            우편번호 03161</p>
        <p>사업자등록번호: 000-111-2222</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>
<!-- footer end -->
</body>

</html>