<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>관리자 페이지 - 회원 관리</title>
</head>

<body>
<!-- 네비게이션 바 -->
<nav>
    <div class="nav-div">
        <div>
            <a href="#">
                <img src="/images/shelf_logo.png" alt="Shelf_logo" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- 메인 시작-->
<main>
    <div class="main-div">
        <!-- 사이드바 -->
        {{> /_components/sidebar}}

        <div class="main-section">
            <div class="main-right-margin">
                <div class="title">회원 관리</div>
                <div class="member">
                    <div class="member-count">
                        <!-- <span class="gray mr-10">총 회원 수 :</span>''members.size}} -->
                        <span class="gray mr-10">총 회원 수 :</span>{{users.userCount}}
                    </div>
                    <div class="member-count">
                        <!-- <span class="gray mr-10">구독 회원 수 :</span>''subscriberCount}} -->
                        <span class="gray mr-10">구독 회원 수 :</span>{{users.subCount}}
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>이메일</th>
                        <th>계정 생성일</th>
                        <th>구독 상태</th>
                        <th>누적 구독 개월 수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 프론트 더미 -->
                    <!-- #members}}
                                <tr>
                                    <td>index}}</td>
                                    <td>username}}</td>
                                    <td>formattedCreatedAt}}</td>
                                    <td>
                                        #isSubscribe}}<i class="fa-solid fa-circle-check"></i></i>/isSubscribe}}
                        ^isSubscribe}}<i class="fa-solid fa-fire gray"></i>/isSubscribe}}
                                    </td>
                                    <td>monthsSubscribed}}</td>
                                </tr>
                            /members}} -->
                    {{#users.userList}}
                        <tr>
                            <td>{{userId}}</td>
                            <td>{{email}}</td>
                            <td>{{createdAt}}</td>
                            {{#isSub}}
                                <td>
                                    <i class="fa-solid fa-circle-check"></i>
                                </td>
                            {{/isSub}}
                            {{^isSub}}
                                <td>
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </td>
                            {{/isSub}}
                            <td>{{subMonths}}</td>
                        </tr>
                    {{/users.userList}}
                    <!-- 프론트 더미 끝-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- 메인 종료 -->
<hr/>
<!-- 푸터  -->
{{> /_components/footer}}
</body>

</html>