<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/members-manage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>관리자 페이지 - 회원 관리</title>
</head>

<body>
<!-- 네비게이션 바 -->
<nav>
    <div class="nav-div">
        <div>
            <a href="/api/main-page">
                <img src="/images/shelf_logo.png" alt="Shelf_logo" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- 메인 시작-->
<main>
    <div class="main-div">
        <!-- 사이드바 -->
        {{> /_components/sidebar}}

        <div class="main-section">
            <div class="main-right-margin">
                <div class="title">회원 관리</div>
                <div class="member-container">
                    <div class="member">
                        <div class="member-count">
                            <!-- <span class="gray mr-10">총 회원 수 :</span>''members.size}} -->
                            <span class="gray mr-10">총 회원 수 :</span>9
                        </div>
                        <div class="member-count">
                            <!-- <span class="gray mr-10">구독 회원 수 :</span>''subscriberCount}} -->
                            <span class="gray mr-10">구독 회원 수 :</span>4
                        </div>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>이름</th>
                        <th>계정 생성일</th>
                        <th>구독 상태</th>
                        <th>구독 개월 수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 프론트 더미 -->
                    <!-- #members}}
                                <tr>
                                    <td>index}}</td>
                                    <td>username}}</td>
                                    <td>formattedCreatedAt}}</td>
                                    <td>
                                        #isSubscribe}}<i class="fa-solid fa-circle-check"></i></i>/isSubscribe}}
                        ^isSubscribe}}<i class="fa-solid fa-fire gray"></i>/isSubscribe}}
                                    </td>
                                    <td>monthsSubscribed}}</td>
                                </tr>
                            /members}} -->
                    <tr>
                        <td>1</td>
                        <td>김성훈</td>
                        <td>2024.07.08</td>
                        <td>
                            <i class="fa-solid fa-circle-check"></i>
                        </td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>김주혁</td>
                        <td>2024.07.08</td>
                        <td>
                            <i class="fa-solid fa-circle-check"></i>
                        </td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>양승호</td>
                        <td>2024.07.08</td>
                        <td>
                            <i class="fa-solid fa-circle-xmark"></i>
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>박선규</td>
                        <td>2024.07.08</td>
                        <td>
                            <i class="fa-solid fa-circle-check"></i>
                        </td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>서지민</td>
                        <td>2024.07.08</td>
                        <td>
                            <i class="fa-solid fa-circle-check"></i>
                        </td>
                        <td>1</td>
                    </tr>
                    <!-- 프론트 더미 끝-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- 메인 종료 -->
<!-- 푸터 시작 -->
<footer>
    <div>
        <p>셀프 shelf 유한회사 통신판매업신고번호:
            제2023-부산진구-0703호 전화번호: 000-111-2222 (수신자 부담)</p>
        <p>대표: 스티븐 성훈 킴</p>
        <p>이메일 주소: korea@shelf.com</p>
        <p>주소: 대한민국 부산광역시 부산진구 중앙대로 749 범향빌딩 3층
            우편번호 03161</p>
        <p>사업자등록번호: 000-111-2222</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>
<!-- footer end -->
</body>

</html>