<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>관리자 페이지 - 매출 관리</title>
</head>
<body>
<!-- 네비게이션 바 시작 -->
<nav>
    <div class="nav-div">
        <div>
            <a href="#">
                <img src="/images/shelf_logo.png" alt="Shelf_logo" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- 네비게이션 바 종료 -->

<!-- main left-->
<main>
    <div class="main-div">
        <!-- 사이드바 -->
        {{> _components/sidebar}}

        <div class="main-section">
                <div class="title">
                    <div class="title-red">Shelf</div>월 매출
                </div>
                <div class="canvas-container">
                    <canvas id="line-chart" width="750" height="400"></canvas>
                </div>
                <div class="table-title">월별 구독 현황</div>
                <table>
                    <thead>
                    <tr>
                        <th>월</th>
                        <th>총 가입자 (명)</th>
                        <th>구독 회원 (명)</th>
                        <th>이달 매출 (만원)</th>
                        <th>올해 누적 매출 (만원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- #SalesPageDTO}}
                        <tr>
                            <td>yearMonth}}</td>
                            <td>subscribeUserCount}}</td>
                            <td>cumulativeUserCount}}</td>
                            <td>monthlySales}}</td>
                            <td>cumulativeSales}}</td>
                        </tr>
                    /SalesPageDTO}} -->
                    {{#MonthlySalesDTO.salesList}}
                        <tr>
                            <td>{{year}}년 {{month}}월</td>
                            <td>{{cumulativeTotalUsers}}</td>
                            <td>{{monthlySubUsers}}</td>
                            <td>{{monthlySales}}</td>
                            <td>{{cumulativeTotalSales}}</td>
                        </tr>
                    {{/MonthlySalesDTO.salesList}}
                </table>
            </div>
    </div>
</main>
<!-- 메인 종료 -->
<hr/>
<!-- 푸터  -->
{{> /_components/footer}}
</body>
</html>
<!-- Chart -->
<script>
    var ctx = document.getElementById('line-chart').getContext('2d');

    var monthlySalesData = {
        {{#MonthlySalesDTO.chartData}}
            '{{month}}월': {{monthlySales}},
        {{/MonthlySalesDTO.chartData}}
    };

    var labels = Object.keys(monthlySalesData);
    var data = Object.values(monthlySalesData);

    // 그라디언트 생성
    var gradient = ctx.createLinearGradient(0, 0, 400, 0);
    gradient.addColorStop(0, '#9DCEFF');
    gradient.addColorStop(1, '#EEA4CE');

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'Shelf 월 수익',
                    data: data,
                    borderColor: gradient,
                    fill: false
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Shelf Monthly Revenue'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function (value, index, values) {
                            return value.toLocaleString('ko-KR') + ' ₩';
                        }
                    }
                }]
            }
        }
    });
</script>