@charset "utf-8";

/* """"""""""""""""""""""""""초기 세팅"""""""""""""""""""""""""" */
a {
    text-decoration: none;
    color: inherit;
}

/* """""""""""""""""""""""""""공통 마진""""""""""""""""""""""""""" */
.mt-70{
    margin-top: 70px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}
form-field-header-right
.mb-10 {
    margin-bottom: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mr-3 {
    margin-right: 1.5px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.fw-bold {
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

hr{
    background:rgb(223, 223, 223);
    height:1px;
    border:0;
}

/* """"""""""""""""""""""""""""body"""""""""""""""""""""""""""" */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* 화면 전체 높이로 설정 */
    margin: 0 auto;
    /* 가운데 정렬을 위한 자동 마진 추가 */
    background-color: #FAFAFA;
}


/* 네비게이션 바 */
nav {
    background: #fff;
    text-align: center;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    /* Center the nav-div within the nav */
    border-bottom: 1px solid rgb(223, 223, 223);
}

.nav-div {
    width: 1100px;
    margin: 0 auto;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-div div {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 100px;
    margin-top: 9px;
}

.logout a {
    font-size: 14px;
}

.logout a:hover {
    text-decoration: underline;
}

/* """"""""""""""""""""""""""""""main"""""""""""""""""""""""""""""" */






.main-left-text:hover {
    background-color: #E2E2E2;
}
/* shelf */

.main-header {
    font-size: 38px;
    font-weight: bold;
}

.form-field-header{
    display: flex;
    margin-bottom: 20px;
}
.form-field-header-left{
    width: calc(40% - 20px);
    margin-right: 20px;
}

.image-preview{
    width: 100%;
    height: 360px;
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    background: #f0f0f0;
}

.image-preview img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form-field-header-right{
    width: 60%;
    padding-top: 20px;
}

.form-section{
    width: 100%;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
}

.box-deco {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #9dceff49, #eea4cea6);
    border-radius: 50px 50px 0 0;
    width: 100%;
    height: 0.4rem;
    line-height: 2rem;
    color: white;
}

.form-field{
    display: flex;
    flex-direction: column;
}
/* 책 상세보기(조회) 페이지 */
.input-data{
    background: #f7f7f7;
    padding: 10px;
    font-size: 1.1rem;
    overflow: auto;
    line-height: 1.3rem;
}

.form-field label {
    color: #777;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.form-field input{
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    /* border: 1px solid #ddd; */
    border: none;
    background-color: #eee;
}

.form-field textarea {
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none; /* !!크기 조절 핸들 제거 */
    overflow-y: auto;
    /* vertical-align: middle; */
}
#category {
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
}

#category option{
    border-radius: 0;
    padding: 10px;
}
#category select{
    padding: 10px;
    border-radius: 0;
}
#category dropdown{

}

.file-upload-container{
    display: flex;
    align-items: center;
}

#file-name-display{
    margin: 0 10px 10px;
}
.small-title{
    color: #777;
    font-weight: bold;
    margin-bottom: 10px;
}



.bottom-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.bottom-btns button{
    border: none;
}

/* 숨겨진 파일 입력 필드 */
/* TODO bottom스타일 만들고, 이거 제거하기 */
input[type="file"] {
    display: none;
}

#upload-info-btn {
    border: none;
}

/* 사용자 정의 파일 선택 버튼 스타일 */
.custom-file-upload {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #eee;
    color: #777;
    font-weight: bold;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: #aaaaaa;
    color: #000;
}


/* 사용자 정의 업로드 버튼 스타일 */
.custom-upload-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background: linear-gradient(to right bottom, #9DCEFFaa, #EEA4CEaa);
    color: #000;
    border-radius: 5px;
}

.custom-upload-button:hover {
    background: linear-gradient(to right bottom, #9DCEFF99, #EEA4CE99);
}

.custom-delete-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background: #f44336;
    color: #fff;
    border-radius: 5px;
    transition: .2s;
}
.custom-delete-button:hover {
    background: #f4433699;
}
#back-btn{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #ddd;
    transition: .2s;
}
#back-btn:hover{
    background: #ccc;
}
