<footer>
    <div>
        <p>셀프 shelf 유한회사 통신판매업신고번호:
            제2023-부산진구-0703호 전화번호: 000-111-2222 (수신자 부담)</p>
        <p>대표: 스티븐 성훈 킴</p>
        <p>이메일 주소: korea@shelf.com</p>
        <p>주소: 대한민국 부산광역시 부산진구 중앙대로 749 범향빌딩 3층
            우편번호 03161</p>
        <p>사업자등록번호: 000-111-2222</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>